go 1.21.1

use (
	.
	./API
	./arrays
	./conversions
	./defer
	./file-handling
	./handlingURL
	./methods
	./mongoAPI
	./my-golang-program
	./pointers
	./switch
	./time
	./user-input
	./variables
	./web-requests
)
